@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  font-family: 'Inter', system-ui, sans-serif;
}

.card {
  @apply bg-white border border-[#D9F1E3] rounded-2xl shadow-md shadow-[#00000008] p-6 flex flex-col gap-5 transition-all;
}

button {
  @apply transition-all duration-200 ease-in-out;
}

button:hover {
  filter: brightness(0.98);
}
